{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}}
	,{econfig, {git, "https://github.com/benoitc/econfig.git", {branch, "master"}}}
	,{ed25519, {git, "https://github.com/qiuqi/ed25519.git", {branch, "master"}}}
	,{eredis_pool, {git, "git://github.com/hiroeorz/eredis_pool.git",{branch, "master"}}}
	,{gun, {git, "https://github.com/ninenines/gun.git", {branch, "master"}}}
	,{uuid, ".*", {git, "git://github.com/avtobiff/erlang-uuid.git", "master"}}
	,{lager, "3.2.1"}
	,{liberl, {git, "git://github.com/qiuqi/liberl.git", {branch, "master"}}}
	,{salt, {git, "git://github.com/qiuqi/salt.git", {branch, "rebar3"}}}
	,{sqlite3, {git, "git://github.com/alexeyr/erlang-sqlite3", {branch, "master"}}}
	,{sync, {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
]}.

{relx, [{release, { burnafteread, "0.1.0" },
	[
		asn1
			,burnafteread
			,cowboy
			,crypto
			,econfig
			,ed25519
			,eredis
			,eredis_pool
			,gun
			,liberl
			,mochiweb
			,poolboy
			,public_key
			,salt
			,sasl
			,sqlite3
			,ssl
			,uuid

	]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
	{include_erts, true}]}]
	    }]
}.
