[
{ burnafteread, []},
{lager, [
	{handlers, [
		{lager_console_backend, error},
		{lager_file_backend, [{file, "/var/log/burnafteread/error.log"}, {level, error}, {size, 10000000}, {count, 50}]},
		{lager_file_backend, [{file, "/var/log/burnafteread/lager.log"}, {level, info}, {size, 10000000}, {count, 50}]}
	]}
]},
{eredis_pool,
	[
	{global_or_local, local},
	{pools,
		[{dbsrv,
			[
			{size, 10},
			{max_overflow, 30}
			], [
			{host, "127.0.0.1"},
			{port, 6379}
			] }
		]}
	]}
	].
